tooltip: {
    pointFormatter: function() {
        if (this['hc-key'] === 'ir-hg') {
            return 'هرمزگان: ' + this.value;
        }

        if (this['hc-key'] === 'ir-bs') {
            return 'بوشهر: ' + this.value;
        }


        if (this['hc-key'] === 'ir-kb') {
            return 'کهگیلویه و بویراحمد: ' + this.value;
        }


        if (this['hc-key'] === 'ir-fa') {
            return 'فارس: ' + this.value;
        }


        if (this['hc-key'] === 'ir-es') {
            return 'اصفهان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-sm') {
            return 'سمنان: ' + this.value;
        }

        if (this['hc-key'] === 'ir-go') {
            return 'گلستان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-mn') {
            return 'مازندران: ' + this.value;
        }


        if (this['hc-key'] === 'ir-th') {
            return 'تهران: ' + this.value;
        }


        if (this['hc-key'] === 'ir-mk') {
            return 'مرکزی: ' + this.value;
        }


        if (this['hc-key'] === 'ir-ya') {
            return 'یزد: ' + this.value;
        }

        if (this['hc-key'] === 'ir-cm') {
            return 'چهارمحال و بختیاری: ' + this.value;
        }


        if (this['hc-key'] === 'ir-kz') {
            return 'خوزستان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-lo') {
            return 'لرستان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-il') {
            return 'ایلام: ' + this.value;
        }


        if (this['hc-key'] === 'ir-ar') {
            return 'اردبیل: ' + this.value;
        }

        if (this['hc-key'] === 'ir-qm') {
            return 'قم: ' + this.value;
        }


        if (this['hc-key'] === 'ir-hd') {
            return 'همدان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-za') {
            return 'زنجان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-qz') {
            return 'قزوین: ' + this.value;
        }


        if (this['hc-key'] === 'ir-wa') {
            return 'آذربایجان غربی: ' + this.value;
        }

        if (this['hc-key'] === 'ir-ea') {
            return 'آذربایجان شرقی: ' + this.value;
        }


        if (this['hc-key'] === 'ir-bk') {
            return 'کرمانشاه: ' + this.value;
        }


        if (this['hc-key'] === 'ir-gi') {
            return 'گیلان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-kd') {
            return 'کردستان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-kj') {
            return 'خراسان جنوبی: ' + this.value;
        }

        if (this['hc-key'] === 'ir-kv') {
            return 'خراسان رضوی: ' + this.value;
        }


        if (this['hc-key'] === 'ir-ks') {
            return 'خراسان شمالی: ' + this.value;
        }


        if (this['hc-key'] === 'ir-sb') {
            return 'زاهدان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-ke') {
            return 'کرمان: ' + this.value;
        }


        if (this['hc-key'] === 'ir-al') {
            return 'البرز: ' + this.value;
        }


        

        return this.name + ' ' + this.value;
    }
},


{% comment %} dataLabels: {
    enabled: false,
    formatter: function() {
        if (this.point['hc-key'] === 'ir-th') {
            return 'hhhhhhh';
        }

        return this.point.name
    }
}, {% endcomment %}