{% load static %}

<!-- Required Js -->
<script src="{% static 'dashboard/js/vendor-all.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/pcoded.min.js' %}"></script>

<!-- Notification Js -->
<script src="{% static 'dashboard/plugins/notification/bootstrap-growl.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'dashboard/js/custom-js.js' %}"></script>
<script src="{% static 'dashboard/js/custom-full-screen.js' %}"></script>
<script src="{% static 'dashboard/js/download-pdf-image.js' %}"></script>
<script src="{% static 'dashboard/js/top-filter.js' %}"></script>
<script src="{% static 'dashboard/js/side-filter.js' %}"></script>

<!-- data tables -->
<script src="{% static 'dashboard/js/management/datatables.min.js' %}"></script>
<script src="{% static 'dashboard/js/management/tbl-datatable-custom.js' %}"></script>

<!-- jsDeliver -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

<!-- select2  for searchabale selectable input -->
<script src="{% static 'dashboard/plugins/select2/select2.full.min.js' %}"></script>

<!-- jalalidatepicker input -->
<script src="{% static 'dashboard/plugins/jalalidatepicker/jalalidatepicker.min.js' %}"></script>

<!-- Load CKEditor from CDN -->
<script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<script>
    {% comment %}  messags  {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            function notify(message, type) {
                $.growl({
                    message: message
                }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'bottom',
                        align: 'left'
                    },
                    delay: 8000,
                    animate: {
                        enter: 'animated fadeInUp',
                        exit: 'animated fadeOutUp'
                    },
                    offset: {
                        x: 30,
                        y: 30
                    }
                });
            };
            notify('{{ message }}', '{{ message.tags }}');
        {% endfor %}
    {% endif %}


    {% comment %} Side Bar collapse{% endcomment %}
    $('#sidebar').on('click', function () {
        if ($(this).hasClass('navbar-collapsed')) {
            $(this).toggleClass('closed')
            $('.nav-item').removeClass('pcoded-trigger')
            $('.pcoded-submenu').css('display', 'none')
        }

        if ($(this).hasClass('closed')) {
            $('#sidebar_logo').attr('src', '{{site.small_logo_light.url}}');
            $('#sidebar_logo').removeAttr('style');
            $('#sidebar_logo').css({
                "width": "45px"
            });
        } else {
            $('#sidebar_logo').removeAttr('style');
            $('#sidebar_logo').attr('src', '{{site.large_logo_light.url}}');
        }
    })

    $('.pcoded-inner-navbar li.pcoded-hasmenu').on('click', function () {

        $('#sidebar').removeClass('closed')

        if ($(this).hasClass('closed')) {
            $('#sidebar_logo').attr('src', '{{site.small_logo_light.url}}');
            $('#sidebar_logo').removeAttr('style');
            $('#sidebar_logo').css({
                "width": "50px"
            });
        } else {
            $('#sidebar_logo').removeAttr('style');
            $('#sidebar_logo').attr('src', '{{site.large_logo_light.url}}');
        }
    });


    {% comment %} export_download {% endcomment %}
    if ($('#export_download').length) {
        {% comment %} $('#export_download').click(function(){
            var $this = $(this);
            $this.removeClass('btn-outline-dark')
            $this.addClass('btn-success')
            $this.html('در حال آماده‌سازی .. <i class="fa fa-spinner fa-spin align-self-center"></i>')
            window.location;

            myVar = setTimeout(function(){
                $this.addClass('btn-outline-dark')
                $this.removeClass('btn-success')
                $this.html('<i class="feather icon-download m-0 ml-1"></i> دانلود')
            }, 2000)
        }); {% endcomment %}
    }

    if ($('.js-example-basic-single').length) {
        $('.js-example-basic-single').select2(
            {
                allowClear: true,
                placeholder: "انتخاب کنید",
                "language": {
                    "noResults": function () {
                        return "موردی یافت نشد!</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            }
        );
    }

    if ($('.pro_filter_btn').length) {
        $('.pro_filter_btn').click(function () {
            $(this).toggleClass("active");
        });
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').click(function () {
            setTimeout(function () {

                $('[data-toggle="tooltip"]').tooltip("hide")
            }, 500);

        });
    });

    {#jalaliDatepicker#}
    $(document).ready(function () {
        jalaliDatepicker.startWatch({ time: true });

    });

    // select2 in modals
        $('#send_by_sms').attr('checked', 'checked');
        
        $('select:not(.normal)').each(function () {
            $(this).select2({
                dropdownParent: $(this).parent(),
                placeholder: "انتخاب کنید",
                "language": {
                    "noResults": function () {
                        return "موردی یافت نشد!</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('.ckeditor'), {
            language: {
                ui: 'fa',
                content: 'fa'
            }
        })
        .then(editor => {
            editor.ui.view.editable.element.parentElement.classList.add('ckeditor-custom-height');
        })
        .catch(error => {
            console.error(error);
        });
</script>