    {% comment %} Search Filtering {% endcomment %}
<div class="collapse" id="ProSearch" style="">
    <h5 class="text-center pt-4">
        <i class="feather icon-search"></i>
        جست‌وجو:</h5>
    <div class="card-body px-2">
        <form method='GET' action=".">
            <input type="hidden" name="filtering" value="True">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="order_id">شماره فاکتور</label>
                        <input type="text" name="order_id" class="form-control" id="order_id"
                               value="{{ request.GET.order_id }}">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="customer_name">نام مشتری</label>
                        <input type="text" name="customer_name" class="form-control" id="customer_name"
                               value="{{ request.GET.customer_name }}">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="customer_id">شناسه مشتری</label>
                        <input type="number" name="customer_id" class="form-control" id="customer_id" dir="ltr"
                               value={{ request.GET.customer_id }}>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="phone">موبایل مشتری</label>
                        <input type="text" name="phone" dir="ltr" class="form-control" id="phone"
                               value="{{ request.GET.phone }}">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="product_id1">نام محصول</label>
                        <select class="js-example-basic-single" id="product_title" name="product_title">
                            <option></option>
                            {% for product in all_products %}
                                <option {% if request.GET.product_title == product.product_id|stringformat:"i" %}selected{% endif %}
                                value="{{ product.product_id }}">{{ product.product_title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="product_id">شناسه محصول</label>
                        <input type="number" name="product_id" class="form-control" id="product_id" dir="ltr"
                               value={{ request.GET.product_id }}>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="status">وضعیت سفارش</label>
                        <select class="js-example-basic-single" id="status" name="status">
                            <option></option>
                            {% for item in all_status %}
                                <option {% if request.GET.status == item.status_en %}selected{% endif %}
                                {% comment %} {% if not request.GET.status and status == 'wc-completed' %}selected{% endif %}  {% endcomment %}
                                value="{{ item.status_en }}">{{ item.status_fa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                

                <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group">
                        <label for="paginate_by">نمایش در هر صفحه</label>
                        <select class="js-example-basic-single" id="paginate_by" name="paginate_by">
                            <option></option>
                            <option {% if request.GET.paginate_by == "10" %}selected{% endif %} value=10>10</option>
                            <option {% if request.GET.paginate_by == "20" %}selected{% endif %} value=20>20</option>
                            <option {% if request.GET.paginate_by == "50" %}selected{% endif %} value=50>50</option>
                            <option {% if request.GET.paginate_by == "100" %}selected{% endif %} value=100>100</option>
                            <option {% if request.GET.paginate_by == "200" %}selected{% endif %} value=200>200</option>
                            <option {% if request.GET.paginate_by == "500" %}selected{% endif %} value=500>500</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-success d-flex">جست‌وجو کنید</button>
                </div>

            </div>
    </div>
</div>

<div class="collapse" id="ProFilter" style="">
    <h5 class="text-center pt-4">
        <i class="feather icon-filter"></i>
        فیلتر:</h5>
    <div class="card-body px-2">
        <form method='GET' action=".">
            <input type="hidden" name="filtering" value="True">
            <div class="row justify-content-center">
                
                {% comment %} <div class="col-lg-2 col-md-4 col-12">
                    <div class="form-group shadow-sm py-4 px-2 rounded">
                        <label class="d-flex justify-content-center font-weight-bold" for="product_prices2">مبلغ کل
                            فاکتور
                        </label>
                        <div class="price_filter" dir="ltr">
                            <label class="price_filter__label">
                                <input type="text" name="total_sale_min"
                                    class="price_filter__input price_filter__input3">
                            </label>

                            <label class="price_filter__label">
                                <input type="text" name="total_sale_max"
                                    class="price_filter__input price_filter__input3">
                            </label>

                            <div id="sliderPrice3" class="sliderPrice price_filter__slider-price"
                                data-min="{{ order_prices.total_sale__min }}"
                                data-max="{{ order_prices.total_sale__max }}" data-step="10000">
                            </div>
                            <span class="d-none"
                                id="price_filtered_min_3">{{ filtered_total_sale_min|default:order_prices.total_sale__min }}</span>
                            <span class="d-none"
                                id="price_filtered_max_3">{{ filtered_total_sale_max|default:order_prices.total_sale__max }}</span>
                        </div>
                    </div>
                </div> {% endcomment %}

                <div class="col-lg-6 col-12 my-3">
                    <div class="row bg-light py-3 shadow-sm rounded d-flex mx-1">
                        <div class="col-12 mb-2">
                            <span class="font-14 text-dark font-weight-bold
                                        d-flex justify-content-center">تاریخ سفارش</span>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="text-muted d-flex justify-content-center">از</label>
                                <input class="form-control text-center" data-jdp
                                    name="date_created_from" value="{{ request.GET.date_created_from }}">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label class="text-muted d-flex justify-content-center">تا</label>
                                <input class="form-control text-center" data-jdp
                                       name="date_created_to" value="{{ request.GET.date_created_to }}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <button type="submit" class="btn btn-dark d-flex mx-auto">فیلتر کنید</button>
                </div>

            </div>
    </div>
</div>

{% comment %} Order Filtering {% endcomment %}
{% include 'filters/ordering.html' %}
</form>