{% load static %}
<!--footer area start-->

<footer class="main-footer bg-dark">
    <div class="back-to-top ">
        <a href="#">
            <span class="icon"><i class="fa fa-chevron-up"></i></span> <span>
                بازگشت بالا
            </span>
        </a>
    </div>
    <div class=" servicesbg ">
        <div class="footer-services container  space-10">
            <div class="row">
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-4.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">ضمانت اصل بودن</span>
                </div>
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-2.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">
                        ارسال سریع در تهران
                    </span>
                </div>
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-2.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">
                        ارسال سریع در شهرستان
                    </span>
                </div>
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-5.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">فرصت 7 روزه استرداد</span>
                </div>
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-3.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">پشتیبانی تلفنی</span>
                </div>
                <div class="service-item col-2 contact-box text-center">
                    <img src="{% static 'main/img/ico/png-7.png' %}" class="width-40 bg-warning">
                    <span class="title-1 light-black">هدیه نقدی</span>
                </div>
               
            </div>
            
        </div>
    </div>
    <div class="container-fluid space-30 bg-map">
        
        <div class="footer-widgets container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <a href="#">دسته‌بندی محصولات</a>
                            </h3>
                        </div>
                    
                        <ul class="footer-menu">
                            <li>
                                <a href="/product-category/رول-حرارتی/"target='_blank'>رول حرارتی</a>
                            </li>
                            <li>
                                <a href="/product-category/ریبون-پرینتر/"target='_blank'>ریبون پرینتر</a>
                            </li>
                            <li>
                                <a href="/product-category/لیبل/"target='_blank'>لیبل</a>
                            </li>
                            <li>
                                <a href="/product-category/کاغذ/"target='_blank'>کاغذ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <a href="#">دسترسی سریع</a>
                            </h3>
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="{% url 'main:home'%}"target='_blank'>صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="{% url 'main:about'%}"target='_blank'>درباره ما</a>
                            </li>
                            <li>
                                <a href="{% url 'main:contact'%}"target='_blank'>تماس با ما </a>
                            </li>
                            <li>
                                <a href="{% url 'main:privacy'%}"target='_blank'>قوانین و مقررات</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <a href="#">اطلاعات تماس</a>
                            </h3>
                        </div>
                        <ul class="footer-menu">
                      
                            <li>
                                <a href="https://maps.app.goo.gl/ujX2TJfxBYUaMqf39">میدان فردوسی، ابتدای خیابان انقلاب ، بن‌بست شاهرود، پلاک ۱۰ ، واحد منفی یک</a>
                            </li>
                            <li>
                                <a href="tel:02187700447">تلفن:02187700447</a>
                            </li>
{#                            <li>#}
{#                                <a href="tel:02152717">تلفن:02152717</a>#}
{#                            </li>#}
                            <li>
                                <a href="tel:09123435883">موبایل:09102457573</a>
                            </li>
                           
                            <li>
                                <a href="#">کد پستی:1599938516</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <div class="card-header">
                            <h3 class="card-title">مجوزات</h3>
                        </div>
                        
                        <div class="License_img">
                             <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=280353&Code=jKh1g82VHRhGXyQu1Jps'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=280353&Code=jKh1g82VHRhGXyQu1Jps' alt='' style='cursor:pointer' Code='jKh1g82VHRhGXyQu1Jps'></a>
                             
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      
    </div>
     
    <div class="copyright">
        <div class="container">
            <p>
               تمام حقوق این وبسایت برای <a href="https://blackdesigner.ir" target="_blank"> بلک دیزانر </a> محفوظ می‌باشد.
            </p>
        </div>
    </div>
        <a class="telegram" href="https://t.me/+98{{ site_info.phone }}" target="_blank" title="پشتیبانی {{ site_info.name }}"><i class="bi bi-telegram "></i></a>

</footer>


