{% extends "dashboard/layouts/base.html" %}
{% load static %}
{% load humanize %}


{% block title %}
    بررسی پیام {{ message }}
{% endblock %}


{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'dashboard:messages' %}">لیست {{ object_name_fa_plural }}</a></li>
        <li class="breadcrumb-item"><a href="{{ request.path }}">بررسی پیام {{ message }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="main-body">
        <div class="page-wrapper">
            <div class="card card-default mt-2">
                <div class="card-header">
                    <h5>جزئیات {{ object_name_fa }}</h5>
                    {% include 'dashboard/coupons/add_coupon.html' %}
                </div>

                <div class="container mt-4">

                    <div class="card shadow-sm border-primary">
                        <div class="card-header bg-primary text-white text-right">
                            <h2>
                                <i class="fas fa-envelope"></i> {{ message.subject|slice:":30" }}{% if message.subject|length > 30 %}...{% endif %}
                            </h2>
                        </div>
                        <div class="card-body">
                            <p><i class="text-info fas fa-user"> نام:</i> {{ message.name|default:"نامشخص" }}</p>
                            <p><i class="text-info fas fa-at"> ایمیل:</i> {{ message.email }}</p>
                            <p><i class="text-info fas fa-phone"> تلفن: </i>  {{ item.phone|default:'ثبت نشده' }}</p>
                            <p><i class="text-info fas fa-calendar"> تاریخ دریافت:</i> {{ message.get_created_at }}</p>
                            <p><i class="text-info fas fa-info-circle"> وضعیت:</i>  {{ message.get_status_display }}</p>
                            <p><i class="text-info fas fa-comment-dots"> محتوا:</i></p>
                            <div class="border p-3 rounded bg-light  mx-auto m-2">
                                {{ message.message }}
                            </div>
                            {% if message.seen_at %}
                                <p><i class="text-info fas fa-calendar-check">تاریخ مشاهده:</i>  {{ message.get_seen_at }}</p>
                            {% else %}
                                <p><i class="text-info fas fa-calendar-times"> تاریخ مشاهده:</i> هنوز مشاهده نشده</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-right">
                            <a href="{% url 'dashboard:messages' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> بازگشت به لیست پیام‌ها</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}


