{% extends 'accounts/base_login.html' %}
{% load crispy_forms_tags %}


{% block title %} ثبت گذرواژه جدید {% endblock %}


{% block form_title %}ثبت گذرواژه جدید{% endblock form_title %}


{% block form_inputs %}
<br>

{{ form|crispy }}

{% endblock form_inputs %}


{% block form_button %}ثبت گذرواژه جدید{% endblock form_button %}


{% block form_footer %}


<p class="my-2 text-muted">
    حساب کاربری دارید؟
    <a class="text-blue justify-content-center align-self-center" href="{% url 'accounts:login' %}">
        وارد شوید</a>
</p>
{% endblock form_footer %}