{% extends 'accounts/base_login.html' %}
{% load widget_tweaks %}

{% block title %} بازیابی کلمه عبور {% endblock %}


{% block form_title %}بازیابی کلمه عبور{% endblock form_title %}


{% block form_inputs %}
<div class="input-group mb-3" dir="ltr">
    {% render_field form.email class="form-control text-center" type="email" placeholder="آدرس ایمیل خود را وارد کنید" dir="ltr" title="" %}
</div>

{% endblock form_inputs %}


{% block form_button %}ارسال لینک بازیابی{% endblock form_button %}


{% block form_footer %}


<p class="my-2 text-muted">
حساب کاربری دارید؟
    <a class="text-blue justify-content-center align-self-center" 
    href="{% url 'accounts:login' %}">
    وارد شوید</a>
</p>
{% endblock form_footer %}