{% extends 'accounts/base_login.html' %}

{% block title %} لینک بازیابی کلمه عبور با موفقیت ارسال گردید {% endblock %}


{% block form_title %}
{% endblock form_title %}


{% block form %}
<h6 class="font-weight-bold text-blue font-18 font-sm-14 mb-4">
	لینک بازیابی کلمه عبور با موفقیت ارسال گردید 
	<i class="feather icon-check-circle"></i>
</h6>
<p class="mb-4 d-flex text-dark font-14">
	اگر ایمیلی دریافت نکرده‌اید، لطفاً مطمئن شوید آدرس ایمیلی که با آن ثبت‌نام کرده‌اید، وارد کرده باشد
	و پوشه هرزنامه (spam) خود را نیز بررسی کنید.</p>
{% endblock form %}


{% block form_footer %}


<p class="text-muted mb-0">پس از یک دقیقه لینک ارسال نشده است؟ <a href="{% url 'password_reset' %}"
		class="text-blue">ارسال مجدد</a></p>
{% endblock form_footer %}