input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (min-width: 992px) {
	.col-lg-9 {
		flex: 0 0 75% !important;
		max-width: 75% !important;
	}

	.pcoded-navbar{
		box-shadow: 1px 0 10px 0 #3f4d67 !important;
	}
}

@media (min-width: 768px) {
	.col-md-7 {
		flex: 0 0 60.333333% !important;
		max-width: 60.333333% !important;
	}
}

@media (min-width: 768px) {
	.col-md-3 {
		flex: 0 0 23% !important;
		max-width: 23% !important;
	}
}

.highcharts-subtitle {
	fill: #1f3152 !important;
	font-weight: bold;
}

.custom-card {
	padding: 5px 10px !important;
}

.custom-control-label {
	margin-right: 6px;
}

#chartBox {
	min-height: 440px;
	margin-bottom: 20px;
	border-radius: .25rem;
	border: 1px solid #ced4da;
}

#accordionHoriz .choice {
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	float: left;
	align-items: center;
	transition: width 0.2s;
	border-radius: 0.25rem;
	cursor: pointer;
	border: 1px solid #ced4da;
}

.top-filter-bg{
	background-color: #1f3152 !important;
	color: rgb(207, 207, 207);
	padding: 8px 15px !important;
	font-size: 15px !important;

}

.top-filter-bg span{
	color: white !important;
	font-size: 14px !important;
}

.top-filter-bg-green{
	background-color: #28a745 !important;
	color: rgb(255, 255, 255);
	padding: 8px 15px !important;
	font-size: 15px !important;
}

.top-filter-bg-red{
	background-color: #dc3545 !important;
	color: rgb(255, 255, 255);
	padding: 8px 15px !important;
	font-size: 15px !important;
}

.top-filter-bg-text span{
	color: white !important;
	font-size: 15px !important;
	float: left;
	}

/* price_slider */
/* custom styles for UiSlider */
.noUi-target {
	cursor: pointer;
  }
  .noUi-target :focus {
	outline: none;
  }
  
  .noUi-horizontal {
	height: 9px;
  }
  
  .noUi-connect {
	background: #007bff;
  }
  
  .noUi-base {
	background: #DEDEDE;
  }
  
  .noUi-horizontal .noUi-handle {
	top: -6.5px;
	right: -11px;
	width: 20px;
	height: 20px;
	background: #007bff;
	border: 2px solid #007bff;
	border-radius: 50%;
	box-shadow: unset;
	cursor: pointer;
	transition: transform 0.1s;
  }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
	content: none;
  }
  .noUi-horizontal .noUi-handle:hover {
	transform: scale(1.1);
  }
  
  /* styles for filter */
  .price_filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 11px;
  }
  
  .price_filter__label {
	width: 100%;
	position: relative;
	cursor: pointer;
	direction: rtl;
  }
  .price_filter__label:before {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	color: #999999;
	font-size: 14px;
  }

  .price_filter__label::after{
	content: "ریال";
	position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 14px;
  }
  
  .price_filter__label:nth-child(1):before {
	content: "از";
  }
  .price_filter__label:nth-child(2):before {
	content: "تا";
  }
  
  .price_filter__input {
	height: 35px;
    border: 0px solid #007bff;
    border-radius: 5px;
    padding: 0 40px 0 10px;
    cursor: pointer;
    width: 100%;
	cursor: text;
}
  .price_filter__input:focus {
	background: rgb(0 102 255 / 20%);
  }
  
  .price_filter__slider-price {
	width: 100%;
	margin: 20px 5px 0;
  }

 
  .pcoded-navbar{
	  background-color: white !important;
  }


.slimScrollBar{
	background: none !important;
}

.pcoded-navbar a{
	color: #616d83;

	font-size: 16px
}

.pcoded-navbar .pcoded-inner-navbar>li.active>a, .pcoded-navbar .pcoded-inner-navbar>li.pcoded-trigger>a{
	background: #333f5454;
	color: #39465e;
}

.pcoded-navbar .pcoded-submenu{
	background: #333f5430;
	color: #39465e;
}

.nav-active{
    height: calc(100% - 5px);
	border-right: 5px solid #1dc4e9;
	border-radius: 1px;
}

.nav-active i{
	color: #1dc4e9 !important;
}

.card {
	border-radius: .5rem;
}

.bitcoin-wallet:hover{
	transition: 0.4s ease-in-out;
	transform: translateY(-7px);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-file-label::after{
	content: "انتخاب کنید" !important;
	cursor: pointer;
	line-height: 1.8;
}

.custom-file-label{
	line-height: 1.8;
}

.e_custom_pagination{
	overflow: auto !important;
}

.e_custom_pagination a:not([href]):not([tabindex]){
	background-color: #1DC4E9 !important;
	font-weight: bold;
	color: white;
}

.table td, .table th{
	padding: 0.8rem 0.75rem !important;
}

div.dataTables_wrapper div.dataTables_filter input{
	text-align: center !important;
}

.card-header{
	line-height: 1.9;
}

.export_download_parent{
	float: left;
	margin-left: 0.5rem;
	position: relative;
}

.export_download_btn{
	margin: 0 !important;
	padding-top: 0.30rem !important;
	padding-bottom: 0.1rem !important;
	padding-left: 0.8rem !important;
	padding-right: 0.8rem !important;
	position: absolute;
	left:0;
	font-size: 14px;
}


.highcharts-container {
    width:100% !important;
    height:100% !important;
}

i{
	vertical-align: middle;
}

.circle_btn{
	height: 40px;
	width: 40px;
	padding: 0 !important;
	border-radius: 50%;
	justify-content: center;
	text-align: center;
	padding-top: 2px !important;
}

.purple-btn{
	background: rgb(128, 0, 128, .8);
	color: white;
}

.purple-btn:hover{
	background: rgb(128, 0, 128);
	color: white;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus{
	box-shadow: none !important;
}

.jdp-month, .jdp-years{
	align-self: center;
}

.jdp-icon-plus, .jdp-icon-minus{
	display: flex !important;
}

.jdp-icon-plus svg, .jdp-icon-minus svg{
	align-self: center;
}

@media (max-width: 768px) {
	.task_item_body{
		justify-content: right !important;
		margin: 7px 0px;
	}
	.breadcrumb{
		font-size: 12px;
	}
}


.modal-footer>:not(:last-child){
	margin-right: 0 !important;
	margin-left: .25rem !important;
}

jdp-container {
	z-index: 1600 !important; /* has to be larger than 1050 */
  }

/* modal dialog of Task edit  */
@media (min-width: 576px){
	.task-edit-modal-dialog {
		max-width: 900px !important;
	}
}

.highcharts-root{
	border-radius: .3rem!important;
}

.highcharts-container {
    width:100% !important;
    height:100% !important;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a:before{
	right: 45px !important
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li .pcoded-submenu > li > a{
	padding: 7px 66px 7px 7px !important;
}