{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    درباره ما | {{ site_info.name }}
{% endblock title %}

{% block content %}

<main class="cart-page">

  <div class="container">
    <div class="row">
        <div class="contact_us_content col-12 mx-auto">
            <header class="card-header">
                <h3 style="" class="card-title"><span>
                  گروه بازرگانی آتا
               
                </span>
              </h3>
            </header>
            <div class="account-box contact_us_page">

                <div class="account-box-content">
                    <form class="form-account">
                      
                      <p class="text-justify">گروه بازرگانی آتا (مجموعه‌های تخصصی الورول و آتاپرینتر) با سابقه درخشان خود علاوه بر تولید رول‌های حرارتی در زمینه واردات این رول‌ها و توزیع آن سال‌ها پیشگام بوده است. <br> ما موفقیت خود را مدیون نخستین هدفی هستیم که بر پایه آن فعالیت می‌کنیم. به عبارت ساده‌تر با ارائه ضمانت محصولات خود این نوید را داده‌ایم که رضایت مشتریانمان نقطه قوت عملکرد مجموعه الورول است. از طرفی تلاشمان ارائه محصولاتی باکیفیت در عین حال با قیمتی مناسب بوده است.</p>

  <h2 class="">محصولات و فعالیت مجموعه الورول:</h2>
  <ul class="text-justify">
    <li>واردات، تولید و توزیع انواع رول حرارتی: (کاغذ فیش پرینتر- نوبت‌دهی- رول بانکی (ATM)- رول پوز (POS)- رول صندوق فروشگاهی- رول انواع دستگاه‌های آزمایشگاهی) (به صورت عمده)</li>
    <li>واردکننده تخصصی انواع ریبون‌های لیبل پرینتر: (وکس- وکس رزین- رزین) در ابعاد مختلف</li>
    <li>نماینده کارخانجات لیبل</li>
    <li>تهیه و توزیع انواع لیبل به صورت تخصصی: (لیبل کاغذی- لیبل حرارتی- لیبل پی‌وی‌سی- لیبل متال- تایوک- اسکراچ)</li>
  </ul>

  <h2 class="">اهداف ما در الورول:</h2>
<p class="text-justify">بخش مدیریت:<br>
   مدیر عامل و هیئت مدیره الورول بر آن هستند تا رسالت همیشگی خود را که همان اصل مشتری مداری است، در تمام زمینه‌های کاری رعایت و اجرا شود.<br>

بخش فروش و بازاریابی:<br>
 با بهره گیری از کادری مجرب و حرفه‌ای اصل مشتری مداری را سر لوحه کار خود قرار داده‌ایم. از طرفی تیم بازاریابی الورول با تحقیق و بررسی نیازهای روز مشتریان اعم از شرکت‌های دولتی و خصوصی و هم چنین مشاغل اداری و تجاری سعی در برآوردن این نیازها دارند.

واحد مالی و حسابداری: تیم حسابداری ما با همکاری مسئولین واحد انبار مغایرت‌های احتمالی را رفع می‌کنند. از طرفی با بررسی‌های به موقع وضعیت موجودی انبار را چک می‌کنند تا با عدم موجودی کالا مواجه نشویم.<br>

واحد بازرگانی(داخلی-خارجی):<br>
 برنامه‌های سازمان توسط مدیر بازرگانی در مسیر رسیدن به اهداف درازمدت مجموعه اجرا می‌شود. امور مربوط به صادرات و واردات به درستی سازماندهی خواهد شد که همین موضوع موفقیت ما را به ارمغان آورده است.<br>

واحد پشتیبانی سایت و سوشال مارکتینگ:<br>
 کارشناسان پشتیبانی سایت ما در ساعات اداری آماده ارائه مشاوره‌های لازم و رفع سوالات شما عزیزان هستند. بعلاوه گروه سوشال مارکتینگ در راستای اطلاع‌رسانی و ارتباط با مشتریان فعالیت می‌کنند.<br>

انبار و حمل‌ونقل:<br>
 امور انبارداری و حمل‌ونقل کالا توسط تیمی مجرب انجام می‌گیرد. بنابراین هیچ گونه نگرانی جهت سلامت کالا متوجه شما نخواهد شد.<br>

واحد رضایت مشتری و نظرسنجی:<br>
 ما در ابتدای تأسیس بازرگانی آتا الویت کار خود را بر رضایت مشتری قرار دادیم. از این رو تمام تلاش خود را به خرج دادیم تا به این مهم دست پیدا کنیم. حتی در این مسیر برای اطمینان بیشتر از نظرسنجی‌ها نیز کمک گرفتیم.<br>

فروشگاه اینترنتی:<br>
 فروش آنلاین در الورول سعی بر آن دارد تا همانند فروش سنتی مجموعه در بهترین شکل ممکن به ارائه خدمات مشتریان خود بپردازد. از طرفی خرید اینترنتی را در هر کجای ایران ممکن سازد .<br>

الورول سرمایه اصلی خود را مشتریان همیشگی و وفاداری می‌داند، که طی سالیان متمادی و بر پایه اصل اساسی صداقت و درستکاری به دست آورده است.<br>

تیم الورول به واسطه مدیریت گروه بازرگانی آتا امید دارد با عنایت پروردگار بتوانیم رضایت و اعتماد شما هموطنان گرامی را جلب کنیم.

</p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</main>



{% endblock %}