{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    آموزش خرید | فروشگاه اینترنتی الورول
{% endblock title %}

{% block content %}

<main class="cart-page">

  <div class="container">
    <div class="row">
        <div class="contact_us_content col-12 mx-auto">
            <header class="card-header">
                <h1 style="" class="card-title"><span>
                  گروه بازرگانی آتا
               
                </span>
              </h1>
            </header>
            <div class="account-box contact_us_page">

                <div class="account-box-content text-center">
<video width="600" height="400" controls>
  <source src="{% static 'main/edu.mkv' %}" type="video/mp4">
  مرورگر شما تگ این ویدیو را پشتیبانی نمیکند لطفا از مرورگر دیگری استفاده کنید

</video>
                </div>
            </div>
        </div>
    </div>
</div>

</main>



{% endblock %}