{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reversi Game</title>
    <link rel="stylesheet" href="{% static 'game/css/styles.css' %}">
</head>
<body class="">
<header>
    <nav>
        <a onclick="window.location.reload();">Start New Game</a>

    </nav>
</header>

<main>
    <h1>Reversi Game</h1>
    <div>
        <button id="easy">Easy</button>
        <button id="medium">Medium</button>
        <button id="hard">Hard</button>
    </div>

    <div id="info">
        <div class="player-info">
            <span>Black Player: </span>
            <span id="black-time">00:00</span>
        </div>
        <div class="player-info">
            <span>White Player: </span>
            <span id="white-time">00:00</span>
        </div>



        <p>Move Count: <span id="move-count">0</span></p>
                    <p>Current Player: <span id="current-player">
        </span></p>
    </div>
        <div id="player-piece" class="cell black"></div>

    <div id="board">
        
    </div>
</main>

<footer>
<p>&copy; 2024 Reversi Game. All rights reserved for Parsa0199.</p>
</footer>
<script src="{% static 'game/js/script.js' %}"></script>
</body>
</html>
